@use "../../styles/fonts" as *;

body {
  padding: 0px !important;
}
.eventMedia {
  min-height: 100vh;
  padding: 0px !important;
}

.media_sec {
  padding: 16px;
}

.event_title {
  font-family: $secondaryFont;
  font-size: 20px;
  line-height: 30px;
  color: $GoFlockColor;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.guest_page {
  min-height: calc(100vh - 147px);
}

.event_images {
  img.events {
    display: block;
    width: 100%;
    max-width: 390px;
    margin-bottom: 10px;
    &:nth-last-child(2) {
      margin-bottom: 0px;
    }
  }
  .addmore {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
    transform: translateY(-50%);
    background: url("../../images/plus.png") no-repeat center;
    cursor: pointer;
  }
}

.media_cnt {
  padding: 0px;
}

.gallery_tabs {
  margin-bottom: 16px;
  margin-top: 0px;
  --background: #ffffff;
  position: sticky;
  top: -16px;
  border-radius: 0;
  z-index: 999;
  &:after {
    // content: '';
    // position: absolute;
    // bottom: 0; /* Move indicator to the bottom */
    // left: 0;
    // width: 100%;
    // height: 4px; /* Adjust height */
    // background-color: #4CAF50; /* Indicator color */
  }
  .in-segment {
    position: relative;
    z-index: 99;
    --indicator-color: #18181b;
    --indicator-height: 1px;
    height: 32px;
    border-radius: 0;
    --indicator-box-shadow: none;
    margin: 0;
    border: none; /* Remove border around segment buttons */
    --border-color: none; /* Remove any applied border color */
    --border-width: 0;
    border-bottom: 1px solid #e4e4e7;
  }
  .in-segment::part(indicator) {
    top: auto; /* Remove the default top position */
    bottom: 0px; /* Position it at the bottom */
  }
}

.yarl__video_container {
  video {
    height: auto !important;
  }
}
.media-type {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.type_declaration {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 15px;
}

.yarl__portal_open {
  --yarl__color_backdrop: #ffffff !important;
}

.yarl__toolbar {
  background: $GoFlockColor;
  width: 100%;
}
.yarl__slide {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.slection_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .slection_count {
    display: flex;
    align-items: center;
    color: $GoFlockFont;
    text-align: right;
    font-family: $GoFlockFont;
    font-size: 12px;
    font-weight: 400;
  }
  .select_action {
    color: $GoFlockFont;
    text-align: right;
    font-family: $GoFlockFont;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
}
.react-photo-album--image {
  aspect-ratio: inherit !important;
}

.no-media {
  width: 250px;
  height: 250px;
}
