@use "../../styles/fonts" as *;
@use "../../styles/events.scss" as *;

.event-row {
  margin: 0 -9px;
}
.event-col {
  padding: 9px;
}

.event-item {
  padding: 0;
  margin: 0;
  border-radius: 8px;
  border: 1px solid #e4e4e7;
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.02);
  figure {
    margin: 0px;
    img {
      display: block;
    }
  }
  .display-pic {
    width: 100%;
    height: auto;
  }
  .event-info {
    padding: 12px;
    padding: clamp(10px, 2.9vw, 12px);
    .event-name {
      font-family: $GoFlockFont;
      font-weight: 600;
      font-size: 12px;
      font-size: clamp(10px, 2.9vw, 12px);
      line-height: 18px;
      color: $GoFlockColor;
      padding: 0px;
      margin: 0 0 5px 0;
    }
    .event-date {
      font-family: $GoFlockFont;
      font-weight: 400;
      font-size: 12px;
      font-size: clamp(10px, 2.9vw, 12px);
      line-height: 18px;
      color: $secondaryColor;
      padding: 0px;
      margin: 0 0 0px 0;
      display: block;
    }
  }
}
