@import "../../styles/variables.scss";

.auth-title {
  display: block;
  text-align: center;
  font-family: $GoFlockFont;
  font-weight: 700;
  line-height: 36px;
  color: $black;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-size: clamp(18px, 5.8vw, 24px);
}

.subtitle {
  display: block;
  font-family: $GoFlockFont;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $secondaryColor;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 14px;
  font-size: clamp(12px, 3.38vw, 14px);
  .subtitle {
    .mobile_number {
      white-space: nowrap;
    }
  }
}
.auth_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 165px);
}
.auth_cnt {
  display: block;
  text-align: center;
  margin: 0px;
  box-shadow: none;
  margin-top: 25px;
  padding: 0px;
  box-shadow: none;
  .logo {
    display: block;
    margin: 0 auto 20px;
    width: clamp(150px, 48vw, 200px);
  }
}

.country_selection {
  width: 100%;
  padding: 0px;
  ion-content {
    height: 90px;
    label {
      transform: inherit !important;
      font-family: $GoFlockFont;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: #18181b !important;
      margin-bottom: 4px;
      display: block;
    }
    .item {
      border: 1px solid #e4e4e7;
      height: 48px;
      border-radius: 6px;
      --border-color: transparent;
      ion-label {
        color: $GoFlockColor;
        font-family: $GoFlockFont;
        line-height: 20px;
        padding: 0;
        margin: 0;
        font-size: clamp(13px, 3.38vw, 14px);
      }
      ion-icon {
        width: 16px;
        margin-inline-start: 0;
      }
    }
  }
}

.form-group {
  width: 100%;
  ion-input {
    .input-wrapper {
      .label-text-wrapper {
        transform: inherit !important;
        font-family: $GoFlockFont;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #18181b !important;
        margin-bottom: 4px;
      }
      .native-wrapper {
        border: 1px solid #e4e4e7;
        height: 48px;
        border-radius: 6px;
        .native-input {
          padding: 0 15px;
          color: #18181b;
          font-family: $GoFlockFont;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          &::placeholder {
            color: $secondaryColor;
            font-size: 14px;
            line-height: 20px;
            font-family: $GoFlockFont;
            font-weight: 400;
            padding: 0px;
          }
        }
      }
      .input-highlight {
        display: none;
      }
    }
  }
}

.countries_list {
  --backdrop-opacity: 0.4;
  padding-top: 140px;
  .modal-wrapper {
    border-radius: 16px 16px 0 0;
  }
  .modal-shadow {
    display: none;
  }
  .ion-page {
    position: relative;
    &:before {
      content: "";
      width: 40px;
      height: 4px;
      background: #ebebeb;
      border-radius: 24px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 24px;
      z-index: 1;
    }
    ion-content {
      .country-label {
        font-family: $GoFlockFont;
        font-size: 20px;
        font-weight: 600;
        color: #18181b;
        display: block;
        text-align: center;
        line-height: 30px;
        padding-top: 50px;
        margin: 0 0 20px 0;
      }
      ion-searchbar {
        --box-shadow: none;
        --border: 1px solid #e4e4e7;
        background: transparent;
        padding: 0 16px 10px;
        .searchbar-input-container {
          --background: #f6f6f6 !important;
          border: 1px solid #e4e4e7;
          border-radius: 12px;
          overflow: hidden;
          color: #18181b;
          .ion-icon {
            top: 0px;
            left: 12px;
          }
          .searchbar-input {
            color: $GoFlockColor;
            font-family: $GoFlockFont;
            font-size: 14px;
            font-weight: 400;
            padding: 0 10px 0 42px;
            height: 48px;
          }
        }
      }
      ion-list {
        height: calc(100% - 162px);
        overflow: auto;
        padding-top: 0;
        padding-bottom: 0px;
        .item {
          --min-height: 40px;
          --border-color: transparent;
          ion-label {
            color: $GoFlockColor;
            font-family: $GoFlockFont;
            line-height: 20px;
            padding: 0;
            margin: 0;
            font-size: clamp(13px, 3.38vw, 14px);
          }
        }
      }
    }
  }
  .modal-wrapper {
    border-radius: 16px 16px 0 0;
  }
}

.varification_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 165px);
  .auth_cnt {
    .auth-title {
      margin-bottom: 20px;
    }
    .mobile {
      display: block;
      margin: 0 auto 30px;
      width: 60px;
    }
    .vatification-title {
      font-family: $GoFlockFont;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: $GoFlockColor;
      margin-bottom: 10px;
      padding: 0px;
    }
    .subtitle {
      color: $secondaryColor;
      font-family: $GoFlockFont;
      font-size: 14px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 24px;
      padding: 0px;
      text-align: center;
    }
  }
}

.otp_section {
  .otp-input-container {
    display: flex;
    gap: 10px; /* Space between the inputs */
    justify-content: center;
    margin: 0 0 10px 0; /* Margin around the OTP inputs */
    .otp-input {
      width: 38px; /* Width of each input */
      height: 29px; /* Height of each input */
      font-size: 20px; /* Font size for the input */
      min-height: inherit;
      text-align: center;

      border-radius: 0px;
      outline: none;
      --padding-start: 0;
      --padding-end: 0;
      .native-input {
        width: 38px; /* Width of each input */
        height: 29px;
        font-size: 20px;
        font-family: $GoFlockFont;
        border-bottom: 2px solid $GoFlockColor;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        &:focus {
          border-bottom: 2px solid #4285f4;
        }
      }
      &:focus {
        border-color: #4285f4; /* Border color when focused */
        //  box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
      }
      .input-highlight {
        display: none;
      }
    }
  }
  p {
    font-family: $GoFlockFont;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $secondaryColor;
    a {
      color: #0d1a26;
      font-weight: 600;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.otp_error {
  color: #dc2626;
  font-size: 12px;
  padding: 0;
  margin: 0;
  font-family: $GoFlockFont;
}
.otp_resend {
  font-family: $GoFlockFont;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $secondaryColor;
  a {
    color: #0d1a26;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
}

.onboarding_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 165px);
  .auth_cnt {
    img.welcome {
      margin: 0 auto 45px;
      width: clamp(200px, 75vw, 300px);
    }
    .auth-title {
      margin-bottom: 8px;
      line-height: 42px;
      font-size: clamp(22px, 6.75vw, 28px);
    }
    .subtitle {
      max-width: 350px;
    }
  }
}

.ion-page.authpage {
  position: relative;
  width: 100%;
  height: 100%;
  ion-content {
    &.generate_cnt {
      position: absolute;
      left: -100%;
      top: 0px;
      transition: all 0.3s ease-in-out;
      &.active {
        left: 0px;
        top: 0px;
        z-index: 99;
      }
    }
    &.validate_cnt {
      position: absolute;
      left: 100%;
      top: 0px;
      transition: all 0.3s ease-in-out;
      &.active {
        left: 0px;
        top: 0px;
      }
      &.validated {
        left: -100%;
      }
    }
    &.onboarding {
      position: absolute;
      left: 100%;
      top: 0px;
      transition: all 0.3s ease-in-out;
      &.active {
        left: 0px;
        top: 0px;
      }
    }
  }
}

.auth_cnt {
  position: relative;
  .react-tel-input {
    display: flex;
    flex-direction: column-reverse;
    .form-control {
      border-radius: 6px;
      border: 1px solid #e4e4e7;
      background: transparent;
      height: 48px;
      width: 100%;
    }
    .flag-dropdown {
      position: static;
      margin-bottom: 30px;
      background: transparent;
      border-radius: 6px;
      border: 1px solid #e4e4e7;
      .selected-flag {
        width: 100%;
        height: 48px;
        border-radius: 6px;
      }
      .country-list {
        position: fixed !important; /* Make the dropdown position fixed */
        top: 0px;
        left: 0;
        width: 100vw; /* Full width */
        height: 100vh; /* Full height */
        z-index: 9999; /* Ensure it stays on top */
        overflow-y: auto;
        max-height: 100vh;
        transition: all 0.5s ease-in-out;
        text-align: left;
        padding: 0px 16px 16px 16px;
        margin: 0;
        li {
          &.search {
          }
        }
      }
      &.open {
        // .country-list {
        //   bottom: 0px;
        // }

        // &:before {
        //   content: "";
        //   width: 100%;
        //   height: 100vh;
        //   position: fixed;
        //   top: 0px;
        //   left: 0;
        //   background: rgba($black, 0.5);
        // }
      }
    }
  }
  .countryname {
    position: absolute;
    left: 50px;
    top: 18px;
  }
}
