@use "../styles/fonts" as *;

.no-event-sec {
  h2 {
    font-family: $GoFlockFont;
    color: $GoFlockColor;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 8px 0;
  }
  p {
    font-family: $GoFlockFont;
    color: $secondaryColor;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 30px 0;
  }
  .button {
    width: 170px;
  }
}

// .event_item {
//   width: 50%;
//   border: 1px solid #e4e4e7;
//   border-radius: 8px;
//   position: relative;
//   box-shadow: none;
//   margin: 0;
//   figure {
//     margin: 0px;
//     img {
//       display: block;
//     }
//   }
//   .display_pic {
//     width: 100%;
//     height: auto;
//   }
//   .event_info {
//     padding: 12px;
//     padding: clamp(10px, 2.9vw, 12px);
//     .event-name {
//       font-family: $GoFlockFont;
//       font-weight: 600;
//       font-size: 12px;
//       font-size: clamp(10px, 2.9vw, 12px);
//       line-height: 18px;
//       color: $GoFlockColor;
//       padding: 0px;
//       margin: 0 0 5px 0;
//     }
//     .event-date {
//       font-family: $GoFlockFont;
//       font-weight: 400;
//       font-size: 12px;
//       font-size: clamp(10px, 2.9vw, 12px);
//       line-height: 18px;
//       color: $secondaryColor;
//       padding: 0px;
//       margin: 0 0 0px 0;
//       display: block;
//     }
//   }
//   .default_event_dp {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100px;
//   }
// }

.event-row {
  margin: 0 -9px;
}
.event-col {
  padding: 9px;
}

.event_item {
  padding: 0;
  margin: 0;
  border-radius: 8px;
  border: 1px solid #e4e4e7;
  background: var(--White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.02);
  figure {
    margin: 0px;
    img {
      display: block;
    }
  }
  .display_pic {
    width: 100%;
    height: auto;
  }
  .event_info {
    padding: 12px;
    padding: clamp(10px, 2.9vw, 12px);
    .event-name {
      font-family: $GoFlockFont;
      font-weight: 600;
      font-size: 12px;
      font-size: clamp(10px, 2.9vw, 12px);
      line-height: 18px;
      color: $GoFlockColor;
      padding: 0px;
      margin: 0 0 5px 0;
    }
    .event-date {
      font-family: $GoFlockFont;
      font-weight: 400;
      font-size: 12px;
      font-size: clamp(10px, 2.9vw, 12px);
      line-height: 18px;
      color: $secondaryColor;
      padding: 0px;
      margin: 0 0 0px 0;
      display: block;
    }
  }
  .actions_menu {
    --size: 28px;
    // background: $white;
    // border-radius: 100%;
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .button-native {
      padding-inline-start: 0;
      padding-inline-end: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    // span {
    //     width: 100%;
    //     height: 100%;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     img {
    //         display: block;
    //     }
    // }
    // &::part(native) {
    //     padding: 0px; /* Adjust the padding as per your needs */
    // }
    // .events  {
    //     width: 9px;
    // }
  }
  .default_event_dp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }
}

.actions_menu {
  --size: 28px;
  // background: $white;
  // border-radius: 100%;
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  .button-native {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  // span {
  //     width: 100%;
  //     height: 100%;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;

  //     img {
  //         display: block;
  //     }
  // }
  // &::part(native) {
  //     padding: 0px; /* Adjust the padding as per your needs */
  // }
  // .events  {
  //     width: 9px;
  // }
}

.actions-head {
  padding-top: 20px;
  svg {
    margin: 0 auto 4px;
    display: block;
    width: 40px;
  }
  .action-title {
    font-family: $GoFlockFont;
    color: $GoFlockColor;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 4px;
    margin: 0;
  }
  .action-subtitle {
    font-family: $GoFlockFont;
    color: $secondaryColor;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
  }
}

.action-grid {
  margin: 0 -8px;
  .ion-col {
    padding: 8px;
    .icon-card {
      border-radius: 12px;
      border: 1px solid rgba(24, 24, 27, 0.1);
      background: $white;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.02);
      margin: 0;
      .icon-thumb {
        margin: 0 auto;
      }
    }
    .icon-thumb {
      margin: 0 auto;
      border-radius: 12px;
      border: 1px solid rgba(24, 24, 27, 0.1);
      background: $white;
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.02);
      --size: 28vw;
      display: flex;
      align-items: center;
      justify-content: center;
      ion-img {
        width: auto;
        height: auto;
      }
    }
    .card-label {
      display: block;
      font-family: $GoFlockFont;
      font-size: 14px;
      font-size: clamp(12px, 3.38vw, 14px);
      font-weight: 400;
      line-height: 20px;
      margin-top: 8px;
    }
    &.selected {
      .icon-thumb {
        border: 1px solid rgba(24, 24, 27, 0.5);
      }
    }
  }
}

.custom-action-modal {
  position: fixed;
  bottom: -100%;
  left: 0px;
  width: 100%;
  background: #fff;
  transition: all 0.5s ease-in-out;
  padding: 0px;
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 24px;
    transform: translateX(-50%);
    border-radius: 30px;
    background: #ebebeb;
    width: 40px;
    height: 4px;
  }
  .action-modal-cnt {
    z-index: 9;
    position: relative;
    background: #fff;
    padding: 16px;
    border-radius: 16px 16px 0 0;
  }
  &.open {
    bottom: 0px;
  }
  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba($black, 0.6);
    width: 100%;
    height: 100%;
  }
}
