@use "../../styles/fonts" as *;
@use "../../styles/form" as *;
@use "../../styles/rsvpCards.scss" as *;
.manage-members {
  .segment_tabs {
    padding: 16px 16px 0;
  }
}
.members-page {
  .paragraph {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: $GoFlockFont;
    line-height: 22px;
    color: $secondaryColor;
    margin: 0px 0 15px 0;
  }
  .menbers-list {
    h6 {
      font-family: $GoFlockFont;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      color: $secondaryColor;
      margin: 0 0 10px 0;
    }
    .list_wrap {
      margin: 0;
      padding: 0;
      .list_item {
        --padding-start: 0;
        --padding-end: 0;
        --border-color: transparent;
        margin-bottom: 5px;
        --inner-padding-end: 0;
        .item-native {
          .item-inner {
            padding-right: 0;
          }
        }
        .dp {
          margin: 0;
          width: 38px;
          height: 38px;
          position: relative;
          .type {
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 25px;
            height: auto;
            &.co {
              width: 18px;
              height: auto;
            }
          }
          ion-img {
            border-radius: 50%;
          }
          .profile-dp {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #dddddd;
            font-family: $GoFlockFont;
            font-weight: 600;
            font-size: 14px;
            color: $GoFlockColor;
          }
          .selection {
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 14px;
            border-radius: 50%;
            border: 1px solid $white;
            img {
              display: block;
            }
          }
        }

        .member-info {
          display: block;
          padding: 0 0 0 10px;
          margin: 0px;

          h2 {
            font-family: $GoFlockFont;
            font-size: 12px;
            line-height: 18px;
            font-weight: 600;
            margin: 0 0 2px 0;
            color: $secondaryColor;
            display: block;
          }

          p {
            font-family: $GoFlockFont;
            font-size: 12px;
            color: $secondaryColor;
            font-weight: 400;
            line-height: 18px;
            padding: 0px;
            margin: 0;
            display: block;
          }
        }
      }
      &.event_members {
        display: block;
        .list_item {
          overflow: visible;
          padding-top: 15px;
          margin-bottom: 0px;
        }
      }
    }
    ul {
      display: block;
      padding: 0;
      margin: 0;
      list-style-type: none;
      width: 100%;
      overflow: auto;
      li {
        margin: 0 0 24px 0;
        .member {
          display: flex;
          align-items: center;
          .dp {
            span {
              width: 38px;
              height: 38px;
              position: relative;
              border-radius: 50%;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }

            em {
              width: 12px;
              height: 12px;
              background: url("../../images/icons/close.svg") no-repeat right
                bottom;
            }
          }

          .member-info {
            display: block;
            padding: 0 0 0 10px;

            label {
              font-family: $GoFlockFont;
              font-size: 12px;
              line-height: 18px;
              font-weight: 600;
              margin-bottom: 2px;
              color: $secondaryColor;
              display: block;
            }

            small {
              font-family: $GoFlockFont;
              font-size: 12px;
              color: $secondaryColor;
              font-weight: 400;
              line-height: 18px;
              padding: 0px;
              margin: 0;
              display: block;
            }
          }
        }
      }
    }
  }
}
.nodata {
  padding: 0px 0 0 0;
  margin: 0;
  box-shadow: none;
  border: none;
  text-align: center;
  display: block;
  ion-img {
    display: block;
    margin: 0 auto 50px;
    max-width: 75%;
  }
  .title {
    font-family: $GoFlockFont;
    font-size: 16px;
    color: $GoFlockColor;
    font-weight: 500;
    line-height: 24px;
    display: block;
    margin: 0 auto 8px;
  }
  .subtitle {
    font-family: $GoFlockFont;
    font-size: 14px;
    color: $secondaryColor;
    font-weight: 400;
    line-height: 24px;
    display: block;
    margin: 0 auto;
  }
}
.guests-count {
  padding: 0 5px;
  font-size: 12px;
  font-family: $GoFlockFont;
  font-weight: 500;
  color: $GoFlockColor;
  margin-right: 5px;
}
