@import "../../styles/fonts";
@import "../../styles/stepper.scss";

body {
  padding: 0px !important;
}
.bill_cnt {
  padding: 16px !important;
  .action_screen_buttons {
    position: sticky;
    top: 100%;
    box-shadow: none;
  }
}

.expense_page {
  // height: calc(100vh - 68px);
  // padding: 0;
}

body {
  .user_item {
    --border-color: transparent;
    --padding-start: 0px;
    --inner-padding-end: 0;
    margin-bottom: 8px;
    .dp {
      --size: 30px;
      margin-right: 10px;
      ion-img {
        border-radius: 50%;
      }
    }
    .user_name {
      font-family: $GoFlockFont;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: $GoFlockColor;
    }
    .amout {
      font-family: $GoFlockFont;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: $GoFlockColor;
      &.red {
        color: #dc2626;
      }
      &.green {
        color: #12b76a;
      }
    }
  }
}

.expense_tabs {
  position: static;
  ion-tab-bar {
    --background: transparent;
    border-bottom: 0px;
    height: 32px;
    margin-bottom: 12px;
    ion-tab-button {
      position: relative;
      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background: #e4e4e7;
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;
      }
      &.tab-selected {
        &:before {
          content: "";
          width: 100%;
          height: 1px;
          background: $GoFlockColor;
          display: block;
          position: absolute;
          left: 0px;
          bottom: 0px;
        }
      }
    }
  }
  .ion_input {
    min-height: 36px !important;
    width: 85px;
    border-radius: 6px;
    border: 1px solid #e4e4e7;
    padding: 0 8px !important;
    &.prefix {
      width: 110px;
      .native-wrapper {
        position: relative;
        padding-left: 15px;
        &:after {
          content: "$";
          position: absolute;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &.safix .native-wrapper {
      position: relative;
      padding-right: 15px;
      &:after {
        content: "%";
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.card_header {
  padding: 0;
  margin: 0 0 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .ion-title {
    color: $secondaryColor;
    font-family: $GoFlockFont;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
  }
  .list-action {
    color: $GoFlockColor;
    font-family: $GoFlockFont;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }
}

.suctom_modal {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
}

.transactions_cnt {
  padding: 0px;
  margin: 0px;
  border: 1px solid #e4e4e7;
  border-radius: 6px;
  box-shadow: none;
  .nodata {
    text-align: center;
    display: block;
    padding: 0px 0 40px;
    font-family: $GoFlockFont;
    font-size: 14px;
    color: $GoFlockColor;
    font-weight: 600;
  }
}
.transactions {
  padding: 16px;
  width: 100%;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  .transaction_list {
    padding: 6px 10px;
    .transaction_item {
      --border-color: transparent;
      --background: transparent;
      --min-height: auto;
      --padding-start: 0;
      --inner-padding-end: 0;
      .transaction_name {
        margin: 0;
        font-family: $GoFlockFont;
        font-size: 12px;
        font-weight: 600;
        color: $GoFlockColor;
      }
      .transaction_actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        .icon_btn {
          --background: transparent;
          --box-shadow: none;
          width: 30px;
          height: 30px;
          border: 1px solid #f7d4d4;
          --padding-end: 0;
          --padding-start: 0;
          margin: 0 0 0 10px;
          border-radius: 50%;
          ion-img {
            width: 16px;
          }
        }
      }
    }
    .contributor_list {
      --padding-start: 0;
      --inner-padding-end: 0;
      --border-color: transparent;
      --background: transparent;
      .contributor_name {
        font-family: $GoFlockFont;
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        color: $GoFlockColor;
      }
      .contribution {
        font-family: $GoFlockFont;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #dc2626;
      }
    }
    &:nth-child(even) {
      background: #f6f6f6;
    }
  }
}

.event_transactions {
  .ion-tabs {
    .ion-tab-bar {
      height: 55px;
      .ion-tab {
        font-family: $GoFlockFont;
        font-weight: 600;
        font-size: 12px;
        color: $secondaryColor;
        position: relative;
        &:after {
          content: "";
          width: 100%;
          height: 2px;
          background: transparent;
          display: block;
          position: absolute;
          left: 0px;
          bottom: 0px;
        }
        &:hover {
          color: $GoFlockColor !important;
        }
        &.tab-selected {
          color: $GoFlockColor;
          &:after {
            content: "";
            width: 100%;
            height: 2px;
            background: $GoFlockColor;
          }
        }
      }
    }
  }
}

.contribution_alert {
  border-radius: 6px;
  border: 1px solid #fce7cf;
  background: #fef8f1;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  align-items: center;
  justify-content: center;
  color: $GoFlockColor;
  font-family: $GoFlockFont;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 48px;
  margin-top: 12px;
  .balance {
    color: $secondaryColor;
    font-family: $GoFlockFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-left: 10px;
  }
}
