@import '../../styles/variables.scss';
 

 
.main-header { 
    box-shadow: none !important;  
    .header-cnt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background:#F6F6F6; 
        height: 60px;
        padding: 0 15px;
        .page-title {
            display: block;
            text-align: center;
            font-family: $GoFlockFont;
            font-size: 14px;
            color: $GoFlockColor;
            font-weight: 500;
            display: flex;
            align-items: center;
            padding: 0 60px;
        }
        .menu_icon {      
            min-width: 30px;      
            img {
                display: block;
            }
            &.contactList {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #E4E4E7;
                border-radius: 50%;
                background: $white;
            }
        }
        .profile_icon {
            --size:30px;
        }
    }
    &.main-header {
        position: sticky;
        top: 0px;
        z-index: 99;
    }
}

.signIn_btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .signin_text {
        font-family: $GoFlockColor;
        font-size: 14px;
        line-height: 20px;
        color: $GoFlockColor;
        font-weight: 500;
        margin-right: 8px;
    }
    img {
        width: 20px;
    }
}