@import '../../styles/variables.scss';
 

 
.main-header { 
    box-shadow: none !important; 
    position: sticky;
    top: 0px;
    .header-cnt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background:#F6F6F6; 
        height: 60px;
        padding: 0 15px;
        .page-title {
            display: block;
            text-align: center;
            font-family: $GoFlockFont;
            font-size: 14px;
            color: $GoFlockColor;
            font-weight: 500;
        }
        .menu_icon {            
            img {
                display: block;
            }
            &.contactList {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #E4E4E7;
                border-radius: 50%;
                background: $white;
            }
        }
    }
}