@import '../../styles/variables.scss';

body {
    font-size: 100%;
    padding: 0px !important;
    display: block;
}

.dashboard  {
    padding: 16px;
    margin-top: 10px;
}
.db_profile {
    box-shadow: none;
    margin: 16px;
    padding-top: 10px;
    .db_profile_head {
        padding: 0 0 5px 0;
        .profile-name {
            font-family: $GoFlockFont;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: $GoFlockColor;
            padding: 0px;
            text-align: left;
            margin: 0;
        }
    }
    .db_profile_text {
        padding: 0;
        .profile_text {
            font-family: $GoFlockFont;
            font-weight: 400;
            color: $secondaryColor;
            font-size: 12px;
            line-height: 16px;
            padding: 0px;
            margin: 0px;
            display: block;
        }
    }
}
.events_sec {
    box-shadow: none;
    margin: 16px;
    .events_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 8px 0 0 0;
        .events_title {
            font-family: $GoFlockFont;
            font-weight: 600;
            font-size: 14px;
            font-size: clamp(13px, 3.38vw, 14px);
            line-height: 20px;
            color: $GoFlockColor;
            padding: 0px;
            margin: 0;
        }
        .viewall {
            font-family: $GoFlockFont;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: $GoFlockColor;
            padding: 0px;
            margin: 0;
            cursor: pointer;
            --background: transparent;
            --box-shadow: none;
        }
    }
    .events_cnt {
        padding: 0;
        .ion-list {
            display: flex;
            gap: 16px;
            padding: 5px 0 0 0;
            .event_item  {
                width: 50%;
                border: 1px solid #E4E4E7;
                border-radius: 8px;
                position: relative;
                box-shadow: none;
                margin: 0;
                figure {
                    margin: 0px;
                    img {
                        display: block;
                    }
                }
                .display_pic {
                    width: 100%;
                    height: auto;
                }
                .event_info {
                    padding: 12px;
                    padding: clamp(10px, 2.9vw, 12px);
                    .event-name {
                        font-family: $GoFlockFont;
                        font-weight: 600;
                        font-size: 12px;
                        font-size: clamp(10px, 2.9vw, 12px);
                        line-height: 18px;
                        color: $GoFlockColor;
                        padding: 0px;
                        margin: 0 0 5px 0;
                    }
                    .event-date {
                        font-family: $GoFlockFont;
                        font-weight: 400;
                        font-size: 12px;
                        font-size: clamp(10px, 2.9vw, 12px);
                        line-height: 18px;
                        color: $secondaryColor;
                        padding: 0px;
                        margin: 0 0 0px 0;
                        display: block;
                    }
                }

            }
        }
    }
}



.event_images {
    img.events {
        display: block;
        width: 100%;
        max-width: 390px;
        margin-bottom: 10px;
        &:nth-last-child(2) {
            margin-bottom: 0px;
        }
    }
    .addmore {
        width: 32px;
        height: 32px;
        display: block;
        margin: 0 auto;
        transform: translateY(-50%);
        background: url('../../images/plus.png') no-repeat center;
        cursor: pointer;
    }
}



.event_actions {
    margin-top: 10px;
    margin-left: clamp(-5px, -1vw, -10px);
    margin-right: clamp(-5px, -1vw, -10px);
    .icon-col { 
        padding-left:clamp(5px, 1vw, 10px);
        padding-right:clamp(5px, 1vw, 10px);
        margin: 0 0 20px 0;
        .icon-card {
            border: 1px solid rgba($GoFlockColor , 0.1);
            border-radius: 12px;
            width: 25vw;
            height: 25vw;
            box-shadow: none;
            display: flex;
            margin: 0 auto;
            .icon-thumb {
                --size:clamp(20px, 12vw, 48px);
                margin: auto;
                img {
                    width: auto;
                    height:auto;
                }
            }
            &.create {
                background: #F6F6F6;
                .icon-thumb {
                    --size:32px;
                }
            }
        }
        .card-title {
            font-family: $GoFlockFont;
            font-weight: 400;
            font-size: 14px;
            font-size: clamp(10px, 3.38vw, 14px);
            line-height: 20px;
            color: $GoFlockColor;
            display: block;
            text-align: center;
        }
    }
}