@use "../../styles/fonts" as *;
.footer {
  box-shadow: none !important;
  .footer-cnt {
    border-top: 1px solid #ececee;
    background: #f6f6f6;
    ion-col {
      display: flex;
      justify-content: center;
    }
  }
}

.stickyFooter {
  position: sticky;
  bottom: 0;
  box-shadow: none !important;
  padding: 16px;
  .primary-btn {
    margin: 0;
  }
  .secondary-btn {
    margin-bottom: 12px;
  }
  &.hasFooter {
    top: calc(100% - 160px);
    &.bottomSticky {
      bottom: 60px;
    }
  }
  &.no-padding-bottom {
    padding-bottom: 0px;
  }
}
