.profile-list-content {
    padding: 16px;
}

.profile-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 5px 0;
}

.profile-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    min-width: 55px;
}

.profile-avatar-wrapper {
    position: relative;
    --size: 40px;
}

.profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.profile-name {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.status-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
}