@import '../../styles/variables.scss';

body {
    font-size: 100%;
  //  padding: 16px !important;
}
.create_event  {
    min-height: 100vh;
    padding: 0px !important;
}

 

.stepper-container {
    display: flex;
    gap: 4px; /* Space between the inputs */
    justify-content: center;
    margin: 8px 0 24px;
    padding: 16px 16px 0;
    .step  {
        width: 33.3%;
        height: 4px;
        border-radius: 50px;
        background: #ECEFEA;
        &.active {
            background: $GoFlockColor;
        }
    }
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 16px;
    gap: 15px;
    position: sticky;
    top: calc(100% - 80px);
    background: #fff;
    z-index: 9;
    ion-button {
        margin: 0;
        --border-radius: 50px;
        width: auto;
        min-width: 100px;
        &.actions {
            &.button-disabled {
                display: none;
            }
        }
    }
}

.stepper-content {
    display: flex;
    position: relative;
    min-height: 70vh;
    
    .step-content {
        min-width: 100%;
        display: block;
        position: absolute;
        top: 0;
        padding: 0 16px;
        transition: all 0.4s ease-in-out;
        &.prev {
            left: -100%;
        }
        &.next {
            left: 100%;
        }
        &.current {
            left: 0px;
        }
    }
}




.form-container {
    ion-card-content {
        padding: 0px;
    }
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
    .form-label {
        font-family:$GoFlockFont;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: #18181B !important;
        margin-bottom: 4px;
        display: block;
    }
    ion-input {
        .input-wrapper {
            .label-text-wrapper {
                transform: inherit !important;
                font-family: $GoFlockFont;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: #18181B !important;
                margin-bottom: 4px;
            }
            .native-wrapper {
                border: 1px solid #E4E4E7;
                height: 48px;
                border-radius: 6px;
                .native-input {
                    padding: 0 15px;
                    color: #18181B;
                    font-family: $GoFlockFont;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    &::placeholder {
                        color: $secondaryColor;
                        font-size: 14px;
                        line-height: 20px;
                        font-family: $GoFlockFont;
                        font-weight: 400;
                        padding: 0px;
                    }
                }
            }
            .input-highlight {
                display: none;
            }
        }
    }
    ion-select {
        border: 1px solid #E4E4E7;
        height: 48px;
        border-radius: 6px;
    }
    ion-select {
        --padding-end: 10px; /* Adjust padding to ensure space on the right */
        --padding-start: 15px; /* Optional: adjust left padding */
        --icon-padding-end: 0; /* Ensures the icon is at the far right */
        --icon-padding-start: auto; /* Pushes the icon to the right */
        --highlight-color-focused: transparent;
        --placeholder-color: $secondaryColor !important; /* Sets the color of the placeholder text */
        --placeholder-opacity: 0.5; /* Sets the opacity of the placeholder text */
        --placeholder-font-size: 14px; /* Adjusts the font size of the placeholder */
        --placeholder-font-style: italic; /* Optionally makes the placeholder italic */
        --placeholder-font-family: $GoFlockFont; 
        --placeholder-font-weight: 400; /* Adjusts the font weight of the placeholder */
    }

    ion-select::part(icon) {
        margin-left: auto; /* Pushes the icon to the right */
        right: 10px; /* Optional: fine-tune position */
        position: absolute; /* Set absolute positioning */
    }
    
    /* Adjust padding to prevent overlapping */
    ion-select::part(native) {
        padding-right: 30px; /* Adjust based on icon position */
    }

     
    ion-textarea {
        .textarea-wrapper {
            .label-text-wrapper {
                transform: inherit !important;
                font-family: $GoFlockFont;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                color: #18181B !important;
                margin-bottom: 4px;
            }
            .native-wrapper {
                border: 1px solid #E4E4E7;
                height: auto;
                border-radius: 6px;
                .native-textarea {
                    padding: 10px 15px;
                    color: #18181B;
                    font-family: $GoFlockFont;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    margin-top: 0;
                    &::placeholder {
                        color: $secondaryColor;
                        font-size: 14px;
                        line-height: 20px;
                        font-family: $GoFlockFont;
                        font-weight: 400;
                        padding: 0px;
                    }
                }
            }
            .textarea-highlight {
                display: none;
            }
        }
    }

    ion-datetime-button {
        border: 1px solid #E4E4E7;
        height: 48px;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        --background: #007bff; /* Background color */
        --color: #fff; /* Text color */
        --border-radius: 8px; /* Rounded corners */
        --padding-start: 16px; /* Padding on the left */
        --padding-end: 16px; /* Padding on the right */
        --padding-top: 10px; /* Padding on the top */
        --padding-bottom: 10px; /* Padding on the bottom */
        --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
        &.date {
            background: url('../../images/calendar.svg') no-repeat calc(100% - 14px) center ;
          }
          &.time {
            background: url('../../images/Clock.svg') no-repeat calc(100% - 14px) center ;
          }
    }
    ion-datetime-button::part(native) {
    background-color: transparent; /* Set a custom background color */
    color: $GoFlockColor; /* Set the text color */
    font-family: $GoFlockFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    border-radius: 0px; /* Set rounded corners */
    padding: 0; /* Set padding */
    border: none; /* Remove default border */ 
    width: 100%;
    text-align: left;
    height: 100%;
    padding: 0 10px;
    }


    ion-radio-group {
        width: 100%;
        display: block;
        ion-radio {
            width: 100%; 
            border-radius: 6px;
            border: 1px solid #E4E4E7;
            padding: 14px;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            span {
                display: inline-block;
                position: absolute;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                svg {
                    display: block;
                }
            }
            p {
                display: block;                 
                white-space: pre-wrap;
                color: $secondaryColor;
                font-family: $GoFlockFont;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin: 0px;
                padding: 0;
                width: 100%;
                padding-left: 62px;
                strong {
                    font-family: $GoFlockFont;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $GoFlockColor;
                    display: block;
                }
            }
        }
    }
      
      
}


.event_images {
    img.events {
        display: block;
        width: 100%;
        max-width: 390px;
        margin-bottom: 10px;
        &:nth-last-child(2) {
            margin-bottom: 0px;
        }
    }
    .addmore {
        width: 32px;
        height: 32px;
        display: block;
        margin: 0 auto;
        transform: translateY(-50%);
        background: url('../../images/plus.png') no-repeat center;
        cursor: pointer;
    }
}


.created_event {

}